1.005
http://bbs.cgyouxi.com/thread-330644-1-1.html
http://rpgmaker.net/games/5098/Snow_White/
http://rpgmaker.net/content/games/5098/downloads/Snow%20White_3.zip
http://bbs.66rpg.com/home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_423396&touid=423396&pmid=0&daterange=2
http://cheqian.xp3.biz/special1/
http://bbs.66rpg.com/home.php?mod=spacecp&ac=friend&op=add&uid=287997&handlekey=addfriendhk_287997
