1.001
http://bbs.66rpg.com/thread-330644-1-1.html
http://bbs.66rpg.com/home.php?mod=space&uid=423396&do=blog&view=me&from=space
http://rpgmaker.net/games/5098/downloads/
http://bbs.66rpg.com/home.php?mod=space&uid=423396&do=wall
http://cheqian.xp3.biz/special1/
http://bbs.66rpg.com/home.php?mod=spacecp&ac=friend&op=add&uid=287997&handlekey=addfriendhk_287997
