1.004
http://bbs.cgyouxi.com/thread-330644-1-3.html
http://rpgmaker.net/games/5098/Snow_White/
http://rpgmaker.net/content/games/5098/downloads/Snow%20White_2.zip
http://rpgmaker.net/mailbox/compose/?user=22786
http://cheqian.xp3.biz/special1/
http://bbs.66rpg.com/home.php?mod=spacecp&ac=friend&op=add&uid=287997&handlekey=addfriendhk_287997
